/*==============================================================================
================================== BUTTONS ====================================
==============================================================================*/

.button,
.button:link,
.button:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: $colorWhite;
  font-family: $fontSecondary;
  font-weight: 300;
  font-size: 1.5rem;
  border-radius: 0;
  background-color: $colorPrimary;
  padding: 1.8rem 3rem;
  transition: all .2s;
  // for tag button
  cursor: pointer;
  border: none;
  overflow: hidden;

  &:hover {
    background-color: $colorPrimaryDark;
  }
}

.btn {
  transition: all .2s ease-in;
  // for tag button
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;

  &,
  &:link,
  &:visited {
    font-size: inherit;
    display: inline-block;
    text-decoration: none;
  }
}

/*==============================================================================
================================== TITLE ======================================
==============================================================================*/

.title {
  font-family: $fontSecondary;
  font-weight: 400;
  color: $colorBrownDark;

  &--largest {}

  &--large {
    font-size: 4rem;
    font-style: italic;
    line-height: 1;
  }

  &--medium {
    font-size: 1.6rem;
    color: $colorPrimary;
    text-transform: uppercase;
  }

  &-small {
    font-size: 1.9rem;
  }
}
