html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; // 10px - 10/16
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $colorBrown;
  font-family: $fontPrimary;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}

main {
  overflow-x: clip;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

//.container {
//  max-width: 120rem;
//  margin: 0 auto;
//}

.wrapper {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}