/* ==========================================================================
========================       MEDIA 1366px      ============================
===========================================================================*/

//@media (max-width: 85.375em) {}

/* ==========================================================================
========================       MEDIA 1200px      ============================
===========================================================================*/

@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

/* ==========================================================================
========================       MEDIA 1100px      ============================
===========================================================================*/

//@media (max-width: 68.75em) {}


/* ==========================================================================
========================       MEDIA 1000px      ============================
===========================================================================*/

@media (max-width: 62.5em) {
  .wrapper {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }

  .sidebar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;

    &__menu {
      margin-top: 0;
      margin-right: 3rem;
      gap: 1rem;
    }
  }
}

/* ==========================================================================
=========================       MEDIA 940px      ============================
===========================================================================*/

//@media (max-width: 58.75em) {}

/* ==========================================================================
=========================       MEDIA 900px      ============================
===========================================================================*/

//@media (max-width: 56.25em) {}

/* ==========================================================================
=========================       MEDIA 850px      ============================
===========================================================================*/

//@media (max-width: 53.125em) {}

/* ==========================================================================
=========================       MEDIA 820px      ============================
===========================================================================*/

//@media (max-width: 51.25em) {}

/* ==========================================================================
=========================       MEDIA 768px      ============================
===========================================================================*/

@media (max-width: 48em) {
  .wrapper {
    grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content 40vw repeat(3, min-content);
  }

  .header {
    grid-column: 1 / -1;
  }

  .realtors {
    grid-column: 1 / -1;

    &__list {
      grid-template-columns: repeat(3, min-content max-content);
    }
  }

  .story-picture,
  .story-content {
    grid-column: 1 / -1;
  }

  .story-content {
    grid-row: 5 / 6;
  }

  .story-picture {
    padding: 3rem;

    &__image-1 {
      grid-column: 1 / 3;
      grid-row: 1 / -1;
      width: 200%;
    }

    &__image-2 {
      width: 100%;
      grid-row: 1 / -1;
    }
  }
}

/* ==========================================================================
=========================       MEDIA 640px      ============================
===========================================================================*/

//@media (max-width: 40em) {}

/* ==========================================================================
=========================       MEDIA 590px      ============================
===========================================================================*/

@media (max-width: 36.875em) {
  .wrapper {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }

  .header {
    padding: 5rem;
  }

  .realtors {
    &__list {
      grid-template-columns: min-content max-content;
    }

  }
}

/* ==========================================================================
=========================       MEDIA 500px      ============================
===========================================================================*/

//@media (max-width: 31.25em) {}

/* ==========================================================================
=========================       MEDIA 480px      ============================
===========================================================================*/

//@media (max-width: 30em) {}

/* ==========================================================================
=========================       MEDIA 410px      ============================
===========================================================================*/

//@media (max-width: 25.625em) {}

/* ==========================================================================
=========================       MEDIA 360px      ============================
===========================================================================*/

//@media (max-width: 22.5em) {}

/* ==========================================================================
=========================       MEDIA 320px      ============================
===========================================================================*/

//@media (max-width: 20em) {}