// COLORS

// primary colors
$colorPrimary: #c69963;
$colorPrimaryDark: #b28451;
$colorSecondary: #101d2c;
//$colorTertiary: #2998ff;

// text colors
$colorMainText: #777;

// background colors
//$colorMainBg: #faf9f9;
//$colorSecondaryBg: #333;

// simple colors
$colorWhite: #fff;
$colorBlack: #000;
$colorGrey: #f9f7f6;
$colorGreyDark: #aaa;
$colorBrown: #6d5d4b;
$colorBrownDark: #54483a;

// layout colors
//$colorPlaceholder: #ccc;

///////////////////////////////////////////////////////////////////////////////////////////

// FONTS

$fontPrimary: "Nunito", sans-serif;
$fontSecondary: "Josefin Sans", sans-serif;
